* {
  margin:0;
 padding: 0;
 box-sizing: border-box;
 
}


.icon-bar {
  position:fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  background-color: gray;
  border-radius: 0px 50px 50px 0px;
  z-index:100;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  /* transition: all 0.3s ease; */
  color: rgba(220, 220, 220, 0.479);
  font-size: 15px;
  
}

.icon-bar a:hover {
  color:white;
}

/* .content {
  margin-left: 55px;
  
} */

.search{
  margin-top: 30px;
}
.import{
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .ajeesh {font-size: x-large !important;}
} 
@media  (max-width: 768px) {
  .sethu {height: 40px;}
} 